@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f8f8f8;
  font-family: "Roboto", sans-serif;
}
section.chat_section {
  width: 800px;
  max-width: 90%;
  background: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin-bottom: 3rem;
}
.brand {
  padding: 20px;
  background: #f1f1f1;
  display: flex;
  align-items: center;
}
.brand h1 {
  text-transform: uppercase;
  font-size: 20px;
  color: #000;
  margin-left: 10px;
}
.message_area {
  height: 420px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 40px;
  border: 0.1rem solid black;
  margin-bottom: 1rem;
}
textarea {
  width: 85%;
  border: 0.1rem solid black;
  padding: 20px;
  font-size: 16px;
  outline: none;
  background: #fbfbfb;
}
.send-area {
  display: flex;
}

button {
  margin-left: 1.5rem;
  margin-top: 1rem;
  margin-right: 0.5rem;
  background-color: rgb(78, 189, 34);
  size: 4rem;
  font-size: medium;
  border: 0.2rem solid rgb(109, 109, 90);
  border-radius: 3px;
  width: 4rem;
  height: 2rem;
}

.message {
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 40px;
  max-width: 300px;
  position: relative;
  margin-top: 0.2rem;
}
.incoming {
  background: #49b151;
  color: #000;
  margin-right: auto;
}
.outgoing {
  background: #ecdc62;
  color: #000;
  margin-left: auto;
}
.message h4 {
  position: absolute;
  top: -20px;
  left: 0;
  color: #333;
  font-size: 14px;
}

img {
  height: 5rem;
  width: 5rem;
  border: 0.2rem solid green;
}
